*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.navbar {
  width: 100%;
  height: 85px;
  position: fixed;
  background-color: transparent;
  z-index: 10;
}
@media (max-width: 460px) {
  .navbar {
    height: 50px;
  }
}
.navbar__menu {
  height: 100%;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 860px) {
  .navbar__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (max-width: 460px) {
  .navbar__menu {
    font-size: 1rem;
  }
}
.navbar__item {
  margin: 0 3rem;
}
@media (max-width: 860px) {
  .navbar__item {
    margin: 0 1rem;
  }
}
.navbar__link:link, .navbar__link:visited {
  text-decoration: none;
  color: #000000;
}
.navbar__link:link:hover, .navbar__link:visited:hover {
  color: #0000ff;
}

.topLogo {
  display: flex;
  align-items: center;
  padding: 2rem 0 0 12rem;
  height: 85px;
}
.topLogo__img {
  width: 5rem;
}
@media (max-width: 460px) {
  .topLogo__img {
    display: none;
  }
}
@media (max-width: 860px) {
  .topLogo {
    padding: 2rem 0 0 2rem;
  }
}
@media (max-width: 460px) {
  .topLogo {
    height: 50px;
  }
}

.topbanner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0 5rem;
}
@media (max-width: 1200px) {
  .topbanner {
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .topbanner__img {
    width: 100%;
  }
}
.topbanner__vertical {
  color: #cacacb;
  font-size: 1.3rem;
  position: absolute;
  top: 4rem;
  right: 4%;
  writing-mode: vertical-rl;
}
.topbanner__title {
  position: absolute;
  left: 10%;
  top: 30%;
  max-width: 500px;
}
@media (max-width: 650px) {
  .topbanner__title {
    max-width: 200px;
  }
}
.topbanner__title--top {
  font-size: 2rem;
  font-weight: 700;
  color: #6db1f1;
}
@media (max-width: 650px) {
  .topbanner__title--top {
    font-size: 1rem;
  }
}
.topbanner__title--middle {
  font-size: 6rem;
  font-weight: 600;
  color: #000000;
}
@media (max-width: 650px) {
  .topbanner__title--middle {
    font-size: 3rem;
  }
}
.topbanner__title--bottom {
  font-size: 1.6rem;
  font-weight: 700;
  color: #8f9dbe;
}
@media (max-width: 650px) {
  .topbanner__title--bottom {
    font-size: 0.8rem;
  }
}
.topbanner__footer {
  position: absolute;
  color: #8f9dbe;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  bottom: 5%;
  right: 50%;
  transform: translateX(50%);
}
@media (max-width: 750px) {
  .topbanner__footer {
    display: none;
  }
}
.topbanner__footer--top {
  font-size: 1.8rem;
  font-weight: 600;
}
.topbanner__footer--bottom {
  font-size: 2.2rem;
  font-weight: 600;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media__line {
  width: 3px;
  height: 100px;
  background-color: #5da8ef;
}
.media__photos {
  margin-top: 1rem;
  height: 36rem;
  position: relative;
  width: 100%;
  max-width: 95rem;
}
@media (max-width: 510px) {
  .media__photos {
    height: 20rem;
  }
}
.media__photos--photo1 {
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 510px) {
  .media__photos--photo1 {
    display: none;
  }
}
.media__photos--photo2 {
  width: 500px;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 510px) {
  .media__photos--photo2 {
    width: 100%;
  }
}
.media__photos--text {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  bottom: 0;
  left: 2rem;
  max-width: 300px;
  color: #cacacb;
}

.shop {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop__heading--top {
  font-size: 2rem;
  font-weight: 600;
  color: #6cb0f0;
}
.shop__heading--bottom {
  font-size: 3rem;
  font-weight: 600;
  color: #828282;
}
.shop__slide {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.shop__slide--item {
  position: relative;
  margin: 0 12rem;
}
.shop__slide--item .text-top {
  position: absolute;
  top: 28rem;
  right: -8rem;
  color: #828282;
  font-size: 2rem;
  font-weight: 600;
}
.shop__slide--item .text-bottom {
  top: 30rem;
  width: 200px;
  right: -15rem;
  position: absolute;
  color: #000000;
  font-size: 3rem;
  font-weight: 600;
}
.shop__slide--item .price {
  top: 40rem;
  right: -5rem;
  position: absolute;
  color: #d067ac;
  font-size: 2rem;
  font-weight: 600;
}

.training {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 700px) {
  .training {
    flex-direction: column;
    align-items: center;
  }
}
.training__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.training__texts--title {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: sans-serif;
  margin-bottom: 2rem;
}
.training__texts--pragraph {
  width: 350px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #828282;
}
.training__img {
  width: 45%;
}
@media (max-width: 700px) {
  .training__img {
    width: 90%;
    margin-top: 2rem;
  }
}

.point {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 700px) {
  .point {
    flex-direction: column;
    align-items: center;
  }
}
.point__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.point__texts--title {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: sans-serif;
  margin-bottom: 2rem;
}
.point__texts--pragraph {
  width: 350px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #828282;
}
.point__img {
  width: 34%;
}
@media (max-width: 700px) {
  .point__img {
    width: 90%;
    margin-top: 2rem;
  }
}

.form {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__title {
  font-size: 3rem;
  font-weight: 600;
}
.form__text {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 3rem 0;
  color: #828282;
}
.form__input {
  background-color: #d4d4d4;
  padding-left: 1rem;
  max-width: 500px;
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.form__input--input {
  border: none;
  width: 90%;
  background-color: transparent;
}
.form__input--input:focus {
  outline: none;
}
.form__input--button {
  width: 10%;
  background-color: #2688e5;
  color: #ffffff;
  border: none;
}

.camp {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 700px) {
  .camp {
    flex-direction: column;
    align-items: center;
  }
}
.camp__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.camp__texts--title {
  width: 300px;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.camp__texts--link {
  width: 350px;
  font-size: 1.6rem;
  font-weight: 700;
}
.camp__img {
  width: 50%;
}
@media (max-width: 700px) {
  .camp__img {
    width: 90%;
    margin-top: 2rem;
  }
}

.bottomLogo {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
}
.bottomLogo__img {
  width: 5rem;
}
@media (max-width: 860px) {
  .bottomLogo {
    padding: 2rem 0 0 2rem;
  }
}
@media (max-width: 460px) {
  .bottomLogo {
    height: 50px;
  }
}

.footer {
  margin-top: 2rem;
}
.footer .navbar__menu {
  justify-content: center;
}

.social {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 10rem;
}
.social i {
  margin: 0 2rem;
  color: #858585;
  cursor: pointer;
}
.social i:hover {
  color: #2688e5;
}

/*# sourceMappingURL=style.css.map */
